body{
    background-color: #c9dbba;
    color: #107537;
}

.container{
    border: 2px solid black;

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    border: 2px solid black;
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: #75dbcd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.counter h1{
    font-size: 2rem;
}
    
#count{
    font-size: 9rem;
}